@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css);

/* Reset default margins and padding */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  padding-top: 15vh;
  min-height: 100vh;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: height 0.3s;
}

/* Navigation menu styles */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  transition: transform 0.3s, color 0.3s;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Hamburger menu button styles */
.menu-toggle {
  cursor: pointer;
  display: none;
  font-size: 32px;
  transition: transform 0.3s, color 0.3s;
}

/* Sidebar styles */
/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: left 0.3s;
  display: flex;
  flex-direction: column; /* Stack icons vertically */
  align-items: center; /* Center icons vertically */
}

/* Adjust the style of your sidebar icons here */
.sidebar .icon {
  font-size: 24px;
  margin: 10px 0; /* Add vertical spacing between icons */
}

/* Project and content styles */
section {
  padding: 20px;
}

#about, .project, #contact {
  background-color: #fff;
}

.project {
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project img {
  max-width: 100%;
  height: auto;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
  /* Adjust header for smaller screens */
  header {
    height: 10vh;
  }

  nav ul {
    text-align: center;
    margin-top: 10px;
  }

  nav li {
    display: block;
    margin: 10px 0;
  }

  /* Show the hamburger menu button */
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
  }
  
}

/* Hover effects */
a:hover {
  color: #007bff;
}

a, .project {
  transition: 0.2s;
}

/* Menu button hover effect */
.menu-toggle:hover {
  transform: scale(1.1);
  color: #ffcc00;
}

