/* styles.css */

:root {
  /* Light Mode */
  --primary-light-bg: #ffffff;
  --secondary-light-bg: #f5f5f5;

  --primary-light-text: #333333;

  /* Dark Mode */
  --primary-dark-bg: #333333;
  --primary-dark-text: #ffffff;

  --secondary-dark-bg: #222222;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: var(--primary-dark-bg);
    --secondary-bg: var(--secondary-dark-bg);
    --primary-text: var(--primary-dark-text);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-bg: var(--primary-light-bg);
    --secondary-bg: var(--secondary-light-bg);
    --primary-text: var(--primary-light-text);
  }
}

body {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
}

.primary-bg {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}