/* styles.css */
/* * {
  outline: 1px solid blueviolet;
} */

:root {
  /* Light Mode */
  --primary-light-bg: #ffffff;
  --secondary-light-bg: #f5f5f5;

  --primary-light-text: #333333;

  --primary-light-accent-color: #0048ff;
  --secondary-light-accent-color: #00ff00;

  /* Dark Mode */
  --primary-dark-bg: #333333;
  --primary-dark-text: #ffffff;

  --secondary-dark-bg: #222222;

  --primary-dark-accent-color: #5e4ade;
  --secondary-dark-accent-color: #6bf06b;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: var(--primary-dark-bg);
    --secondary-bg: var(--secondary-dark-bg);
    --primary-text: var(--primary-dark-text);
    --accent-color: var(--primary-dark-accent-color);
    --secondary-accent-color: var(--secondary-dark-accent-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-bg: var(--primary-light-bg);
    --secondary-bg: var(--secondary-light-bg);
    --primary-text: var(--primary-light-text);
    --accent-color: var(--primary-light-accent-color);
    --secondary-accent-color: var(--secondary-light-accent-color);
  }
}

body {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
}

.primary-bg {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.accent-color {
  background-color: var(--accent-color);

}